<div class="auth-bg-basic d-flex align-items-center min-vh-100">
  <div class="bg-overlay bg-light"></div>
  <div class="container">

    <div class="row">

      <div class="col-xl-4">
        <div class="card pricing-box">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="mb-1 font-size-20">
                Lesley Cathey
              </h5>
              <h6>
                REACH Project Team Lead
              </h6>
            </div>

            <hr class="my-4 text-muted">

            <ul class="list-unstyled pricing-features mb-0 ps-4">
              <li>817-740-7709</li>
              <li>lcathey@esc11.net</li>
            </ul>

            <div class="mt-4">
              <a href="#" class="btn btn-primary w-100">Contact Lesley</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col-xl-4">
        <div class="card pricing-box">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="mb-1 font-size-20">
                Dayshaunna Parker
              </h5>
              <h6>
                REACH Project Team Specialist
              </h6>
            </div>

            <hr class="my-4 text-muted">

            <ul class="list-unstyled pricing-features mb-0 ps-4">
              <li>817-740-7572</li>
              <li>dparker@esc11.net</li>
            </ul>

            <div class="mt-4">
              <a href="#" class="btn btn-primary w-100">Contact Dayshaunna</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col-xl-4">
        <div class="card pricing-box">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="mb-1 font-size-20">
                Madison Mullins
              </h5>
              <h6>
                REACH Project Team Interventionist
              </h6>
            </div>

            <hr class="my-4 text-muted">

            <ul class="list-unstyled pricing-features mb-0 ps-4">
              <li>817-740-3667</li>
              <li>mmullins@esc11.net</li>
            </ul>

            <div class="mt-4">
              <a href="#" class="btn btn-primary w-100">Contact Madison</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->


      <div class="col-xl-4">
        <div class="card pricing-box">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="mb-1 font-size-20">
                Kelsey Collier
              </h5>
              <h6>
                REACH Project Team Interventionist
              </h6>
            </div>

            <hr class="my-4 text-muted">

            <ul class="list-unstyled pricing-features mb-0 ps-4">
              <li>817-740-3628</li>
              <li>kcollier@esc11.net</li>
            </ul>

            <div class="mt-4">
              <a href="#" class="btn btn-primary w-100">Contact Kelsey</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

    </div>
  <!-- end row -->

</div>
  <!-- end container fluid -->
</div>
<!-- end authentication section -->
