<header id="page-topbar" style="background: #5e4ea1">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <!--<div class="navbar-brand-box">
        <a href="#" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/region11/images/Reach-Logo.png" alt="" height="26">
          </span>
          <span class="logo-lg">
            <img src="assets/region11/images/Reach-Logo.png" alt="" height="26">
          </span>
        </a>

        <a href="#" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/region11/images/Reach-Logo.png" alt="" height="26">
          </span>
          <span class="logo-lg">
            <img src="assets/region11/images/Reach-Logo.png" alt="" height="26">
          </span>
        </a>
      </div>-->

      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="#" class="logo logo-dark">
          <span class="logo-sm">
            <img src="../../../assets/logo.png" alt="" height="56">
          </span>
          <span class="logo-lg">
            <img src="../../../assets/logo.png" alt="" height="56"> <span class="logo-txt">Vuesy</span>
          </span>
        </a>

        <a href="#" class="logo logo-light">
          <span class="logo-sm">
            <img src="../../../assets/logo.png" alt="" height="56">
          </span>
          <span class="logo-lg">
            <img src="../../../assets/logo.png" alt="" height="56"> <span class="logo-txt"></span>
          </span>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse" id="horimenu-btn" data-bs-target="#topnav-menu-content">
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <div class="topnav">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

          <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/"
                   class="nav-link dropdown-toggle arrow-none"
                   role="button">
                  <span>Home</span>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/contact"
                   class="nav-link dropdown-toggle arrow-none"
                   role="button">
                  <span>Contact Us</span>
                </a>
              </li>

              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bx-tone icon"></i>
                  <span data-key="t-elements">Custom Pages</span> <div class="arrow-down"></div>
                </a>

                <div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-xl" aria-labelledby="topnav-uielement">
                  <div class="ps-2 p-lg-0">
                    <div class="row">
                      <div class="col-lg-8">
                        <div>
                          <div class="menu-title">Custom Pages</div>
                          <div class="row g-0">

                            <div class="col-lg-5">
                              <div>
                                <a href="#" class="dropdown-item" data-key="t-alerts">Page 1</a>
                                <a href="#" class="dropdown-item" data-key="t-buttons">Page 2</a>
                                <a href="#" class="dropdown-item" data-key="t-cards">Page 3</a>
                                <a href="#" class="dropdown-item" data-key="t-carousel">Page 4</a>
                                <a href="#" class="dropdown-item" data-key="t-dropdowns">Page 5</a>
                                <a href="#" class="dropdown-item" data-key="t-grid">Page 6</a>
                                <a href="#" class="dropdown-item" data-key="t-images">Page 7</a>
                                <a href="#" class="dropdown-item" data-key="t-modals">Page 8</a>
                                <a href="#" class="dropdown-item" data-key="t-offcanvas">Page 9</a>
                              </div>
                            </div>


                            <div class="col-lg-5">
                              <div>
                                <a href="#" class="dropdown-item" data-key="t-alerts">Page 1</a>
                                <a href="#" class="dropdown-item" data-key="t-buttons">Page 2</a>
                                <a href="#" class="dropdown-item" data-key="t-cards">Page 3</a>
                                <a href="#" class="dropdown-item" data-key="t-carousel">Page 4</a>
                                <a href="#" class="dropdown-item" data-key="t-dropdowns">Page 5</a>
                                <a href="#" class="dropdown-item" data-key="t-grid">Page 6</a>
                                <a href="#" class="dropdown-item" data-key="t-images">Page 7</a>
                                <a href="#" class="dropdown-item" data-key="t-modals">Page 8</a>
                                <a href="#" class="dropdown-item" data-key="t-offcanvas">Page 9</a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4">
                        <div>
                          <div class="menu-title">Favorites</div>
                          <div>
                            <a href="#" class="dropdown-item" data-key="t-alerts">Page 1</a>
                            <a href="#" class="dropdown-item" data-key="t-buttons">Page 2</a>
                            <a href="#" class="dropdown-item" data-key="t-cards">Page 3</a>
                            <a href="#" class="dropdown-item" data-key="t-carousel">Page 4</a>
                            <a href="#" class="dropdown-item" data-key="t-dropdowns">Page 5</a>
                            <a href="#" class="dropdown-item" data-key="t-grid">Page 6</a>
                            <a href="#" class="dropdown-item" data-key="t-images">Page 7</a>
                            <a href="#" class="dropdown-item" data-key="t-modals">Page 8</a>
                            <a href="#" class="dropdown-item" data-key="t-offcanvas">Page 9</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>-->

              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button">
                  <i class="bx bx-file icon"></i>
                  <span data-key="t-pages">Reports</span> <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-more">
                  <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-pricing"
                       role="button">
                      <span data-key="t-pricing">Surveys</span> <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="topnav-pricing">
                      <a href="#" class="dropdown-item" data-key="t-basic">Basic</a>
                      <a href="#" class="dropdown-item" data-key="t-table">Advanced</a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-invoices"
                       role="button">
                      <span data-key="t-invoices">Reports</span> <div class="arrow-down"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="topnav-invoices">
                      <a href="#" class="dropdown-item" data-key="t-invoice-list">Daily</a>
                      <a href="#" class="dropdown-item" data-key="t-invoice-detail">Monthly</a>
                    </div>
                  </div>

                  <a href="#" class="dropdown-item" data-key="t-vertical">Master Report</a>
                </div>
              </li>-->

            </ul>
          </div>
        </nav>
      </div>

    </div>

    <div class="d-flex">

      <!--<div class="dropdown d-inline-block">
        <button type="button" class="btn header-item noti-icon right-bar-toggle" id="right-bar-toggle">
          <i class="bx bx-cog icon-sm"></i>
        </button>
      </div>-->

      <div class="nav-size">
        <a routerLink="/reach" role="button" class="btn btn-primary" data-toggle="button" style="background: #18191a; border-color: #18191a;">
          <span class="ms-2 d-none d-xl-inline-block user-item-desc">
              Get Started
          </span>
        </a>
      </div>
    </div>
  </div>

</header>
