<div class="auth-bg-basic d-flex align-items-center min-vh-100">
  <div class="bg-overlay bg-light"></div>
  <div class="container">
    <div class="d-flex flex-column min-vh-100 py-5 px-3">

        <div class="row justify-content-center my-auto">
          <div class="col-xl-12 mission">

            <div class="row">
              <div class="col">

                <div class="row">
                  <div class="col-sm-2" style="text-align:right">
                    <b>Mission</b>
                  </div>
                  <div class="col-sm-7">
                    The REACH project team will compassionately support families and students through district and community partnerships.
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2" style="text-align:right">
                    <b>Vision</b>
                  </div>

                  <div class="col-sm-7">
                    Build sustainable partnerships to positively influence promotive and protective factors for healthy development and well-being of students experiencing homelessness.
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-7">
                    <a routerLink="/reach" role="button" class="btn btn-primary" style="background: #18191a; border-color: #18191a; margin: 2em 0 0 0">
                      <span class="ms-2 d-none d-xl-inline-block user-item-desc">
                        Get Started
                      </span>
                    </a>
                  </div>
                </div>

              </div>

              <div class="col-sm-5">
                <img src="assets/region11/images/Reach-Logo.png" class="img-fluid" alt="">
              </div>
            </div>

            <!--<div class="row">
              <div class="col-sm-1" style="text-align:right">
                <b>Vision</b>
              </div>
              <div class="col-sm-5">
                Build sustainable partnerships to positively influence promotive and protective factors for healthy development and well-being of students experiencing homelessness.
              </div>
            </div>-->

          </div>
        </div>

          <!--<div class="row justify-content-center my-auto">
            <div class="col-xl-8">
              <div class="text-center">

                <div class="row mt-5 pt-3 justify-content-center">
                  <div class="col-md-7">
                    <img src="assets/region11/images/Reach-Logo.png" class="img-fluid" alt="">
                  </div>
                </div>

                <h3 class="mt-5">Let's get started.</h3>


                <div class="d-flex justify-content-center">
                  <a href="/reach" class="btn btn-primary btn-custom-width" role="button">
                    Start
                    <i class="bx bx-paper-plane ms-1"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>--><!-- end row -->

        </div>
      </div>
      <!-- end container fluid -->

      <!--<app-servicesProvided></app-servicesProvided>-->

    </div>
<!-- end authentication section -->
